body{
    background-color:black;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: cornsilk;
}
h2{
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;

}
h3{
    color: white;
    font-family: cursive;
}
iframe{
    border: darkmagenta;
    border-radius: 25px;
   background-color:white;
   
}
footer{
    color: white;
}